<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width'>
    <title>Cookie Policy | WSO2 Analytics Dashboard</title>
    <link rel="stylesheet" type="text/css"
          href="{{@contextPath}}/public/app/js/libs/font-wso2_1.0.0/css/font-wso2.min.css" />
    <link rel="stylesheet" type="text/css" href="{{@contextPath}}/public/app/css/styles.css" />
    <link rel="shortcut icon" href="{{@contextPath}}/public/app/images/favicon.ico" type="image/x-icon" />
</head>
<body>
<div>
    <header>
        <a href="{{@contextPath}}/" style="text-decoration: none; color: #fff;">
            <img src="{{@contextPath}}/public/app/images/wso2-logo.svg" height="17" />
            <h1>WSO2 Analytics Dashboard</h1>
        </a>
    </header>
    <section class="main-content">
        <h2><a href="https://wso2.com/analytics">About WSO2 Analytics Dashboard</a></h2>

        <p>
            WSO2 Analytics Dashboard (referred to as "WSO2 AD" within this policy) is an open source data visualization
            application that is based on open standards and specifications.
        </p>

        <h2>Cookie Policy</h2>
        <p>
            WSO2 SP uses cookies so that it can provide the best user experience for you and identify you for security
            purposes. If you disable cookies, some of the services may become inaccessible to you.
        </p>

        <h3>How does WSO2 AD 4.5.1 process cookies?</h3>
        <p>
            WSO2 AD 4.5.1 stores and retrieves information on your browser using cookies. Some cookies allow a user to
            log in to the system and maintain sessions. Some cookies are simply used to give you a more personalised
            web experience and these cookies cannot be used to personally identify you or your activities.
        </p>
        <p>
            This cookie policy is part of the WSO2 AD 4.5.1 <a href="{{@contextPath}}/privacy-policy">Privacy
            Policy</a>.
        </p>

        <h3>What is a cookie?</h3>
        <p>
            A browser cookie is a small piece of data that is stored on your device to help websites and mobile apps
            remember things about you. Other technologies, including web storage and identifiers associated with your
            device, may be used for similar purposes. In this policy, we use the term “cookies” to discuss all of these
            technologies.
        </p>

        <h3>What does WSO2 AD 4.5.1 use cookies for?</h3>
        <p>Cookies are used in two main ways in WSO2 AD 4.5.1.</p>
        <ol>
            <li>To identify you as a unique user.</li>
            <li>To provide a satisfying user experience.</li>
        </ol>

        <p>
            WSO2 AD 4.5.1 uses cookies for the following purposes listed below:
        </p>

        <h4>Preferences</h4>
        <p>
            WSO2 AD 4.5.1 uses these cookies to remember your settings and preferences, and to auto-fill the form fields
            to make your interactions with the site easier.
        </p>
        <p>
            These cookies cannot be used to personally identify you.
        </p>

        <h4>Security</h4>
        <ul>
            <li>WSO2 AD 4.5.1 uses selected cookies to identify and prevent security risks. For example, WSO2 AD 4.5.1
                may use these cookies to store your session information in order to prevent others from changing your
                password without your username and password.</li>
            <li>WSO2 AD 4.5.1 uses session cookies to maintain your active session.</li>
        </ul>
        <h4>Performance</h4>
        <p>
            WSO2 AD 4.5.1 may use cookies to allow “Remember Me” functionalities.
        </p>
        <h4>Third party cookies</h4>
        <p>
            Using WSO2 AD 4.5.1 may cause some third-party cookies to be set in your browser. WSO2 AD 4.5.1 has no
            control over how any of them operate. WSO2 strongly advises you to refer the respective cookie policy of
            such sites carefully as WSO2 has no knowledge or use on these cookies.
        </p>

        <h3>What type of cookies does WSO2 AD 4.5.1 use?</h3>
        <p>
            WSO2 AD 4.5.1 uses persistent cookies and session cookies. A persistent cookie helps WSO2 AD 4.5.1 to
            recognize you as an existing user so that it is easier to return to WSO2 or interact with WSO2 AD 4.5.1
            without signing in again. After you sign in, a persistent cookie stays in your browser and will be read by
            WSO2 AD 4.5.1 when you return to WSO2 AD 4.5.1.
        </p>
        <p>
            A session cookie is a cookie that is erased when the user closes the web browser. The session cookie is
            stored in temporary memory and is not retained after the browser is closed. Session cookies do not collect
            information from the user's computer.
        </p>

        <h3>What are the cookies used?</h3>
        <p>
            The following are the main types of cookies used by WSO2 AD 4.5.1
        </p>
        <ul>
            <li><strong>Session User Cookie:</strong> This is stored as long as a browser session exists. It contains
                the username of the user, SDID, its validity period and expiration time.</li>
            <li><strong>HID:</strong> This stores the partial access token (HID) that is only accessible from HTTPS.</li>
            <li><strong>Refresh Token Cookie:</strong> This stores the refresh token.</li>
        </ul>
        <p>
            Following cookies are used:
        </p>
        <table>
            <thead>
            <tr>
                <th>Web application</th>
                <th>Cookie Name</th>
                <th>Purpose</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Business Rules Manager</td>
                <td>BR_USER</td>
                <td>Maintains the browser session of the Business Rules Manager.</td>
            </tr>
            <tr>
                <td></td>
                <td>HID</td>
                <td>Stores a part of the access token for the session that is only accessible from HTTPS.</td>
            </tr>
            <tr>
                <td></td>
                <td>RTK</td>
                <td>Stores the refresh token for the session.</td>
            </tr>
            <tr>
                <td>Status Dashboard</td>
                <td>DASHBOARD_USER</td>
                <td>Maintains the browser session of the Status Dashboard.</td>
            </tr>
            <tr>
                <td></td>
                <td>HID</td>
                <td>Stores a part of the access token for the session that is only accessible from HTTPS.</td>
            </tr>
            <tr>
                <td></td>
                <td>REFRESH_TOKEN</td>
                <td>Stores the refresh token for the session.</td>
            </tr>
            <tr>
                <td>Dashboard Portal</td>
                <td>DASHBOARD_USER</td>
                <td>Maintains the browser session of the Dashboard Portal.</td>
            </tr>
            <tr>
                <td></td>
                <td>HID</td>
                <td>Stores a part of the access token for the session that is only accessible from HTTPS.</td>
            </tr>
            <tr>
                <td></td>
                <td>REFRESH_TOKEN</td>
                <td>Stores the refresh token for the session.</td>
            </tr>
            </tbody>
        </table>

        <h3>How do I control my cookies?</h3>
        <p>
            Most browsers allow you to control cookies through their settings preferences. However, if you limit the
            given ability for websites to set cookies, you may worsen your overall user experience since it will no
            longer be personalized to you. It may also stop you from saving customized settings such as login
            information.
        </p>
        <p>
            Most likely, disabling cookies will make you unable to use authentication and authorization functionalities
            offered by WSO2 AD 4.5.1.
        </p>
        <p>
            If you have any questions or concerns regarding the use of cookies, please contact the entity or individuals
            (or their data protection officer, if applicable) running this WSO2 AD 4.5.1 instance.
        </p>

        <h3>Disclaimer</h3>
        <p>
            This cookie policy is only for illustrative purposes of the product WSO2 AD 4.5.1. The content in the policy
            is technically correct at the time of the product shipment. The organization which runs this WSO2 AD 4.5.1
            instance has full authority and responsibility with regard to the effective Cookie Policy. WSO2, its
            employees, partners, and affiliates do not have access to and do not require, store, process or control any
            of the data, including personal data contained in WSO2 IAD 4.5.1. All data, including personal data is
            controlled and processed by the entity or individual running WSO2 AD 4.5.1. WSO2, its employees partners and
            affiliates are not a data processor or a data controller within the meaning of any data privacy regulations.
            WSO2 does not provide any warranties or undertake any responsibility or liability in connection with the
            lawfulness or the manner and purposes for which WSO2 AD 4.5.1 is used by such entities or persons.
        </p>
    </section>
</div>
<a href="{{@contextPath}}/" class="back"><i class="fw fw-left-arrow"></i> Back</a>
</body>
</html>
