<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width'>
    <title>Privacy Policy | WSO2 Analytics Dashboard</title>
    <link rel="stylesheet" type="text/css"
          href="{{@contextPath}}/public/app/js/libs/font-wso2_1.0.0/css/font-wso2.min.css" />
    <link rel="stylesheet" type="text/css" href="{{@contextPath}}/public/app/css/styles.css" />
    <link rel="shortcut icon" href="{{@contextPath}}/public/app/images/favicon.ico" type="image/x-icon" />

</head>
<body>
<div>
    <header>
        <a href="{{@contextPath}}/" style="text-decoration: none; color: #fff;">
            <img src="{{@contextPath}}/public/app/images/wso2-logo.svg" height="17" />
            <h1>WSO2 Analytics Dashboard</h1>
        </a>
    </header>

    <section class="main-content">

        <h2><a href="https://wso2.com/analytics">About WSO2 Analytics Dashboard</a></h2>
        <p>
            WSO2 Analytics Dashboard (referred to as “WSO2 AD 4.5.1” within this policy) is an open source data
            visualization application that is based on open standards and specifications.
        </p>

        <h2>Privacy Policy</h2>
        <p>
            This policy describes how WSO2 AD 4.5.1 captures your personal information, the purposes of collection, and
            information about the retention of your personal information.
        </p>
        <p>
            Please note that this policy is for reference only, and is applicable for the software as a product. WSO2
            Inc. and its developers have no access to the information held within WSO2 AD 4.5.1. Please see the
            Disclaimer section for more information. Entities, organisations or individuals controlling the use and
            administration of WSO2 AD 4.5.1 should create their own privacy policies setting out the manner in which
            data is controlled or processed by the respective entity, organisation or individual.
        </p>

        <h3>What is personal information?</h3>
        <p>
            WSO2 AD 4.5.1 considers anything related to you and by which you may be identified as your personal
            information. This includes, but is not limited to:
        </p>
        <ul>
            <li>Your user name (except in cases where the user name created by your employer is under contract)</li>
            <li>Your date of birth/age</li>
            <li>IP address used to log in</li>
            <li>Your device ID if you use a device (e.g., phone or tablet) to log in</li>
        </ul>

        <h3>How does WSO2 AD 4.5.1 collect personal information?</h3>
        <p>
            WSO2 AD 4.5.1 collects your login details to serve your access requirements.
        </p>
        <p>
            In addition, the information sent to WSO2 AD 4.5.1 by your organization to be processed may include personal
            information. This information is not retained unless WSO2 AD 4.5.1 is specifically configured by server
            administrators to store that information in databases based on the client requirement.
        </p>
        <p>
            WSO2 strongly recommends you to verify whether the information you request to store in databases for the
            purpose of processing include personal information, and if it does, to use the data obfuscation/removal
            methods supported by WSO2 AD 4.5.1 to hide/delete that information once it is processed.
        </p>
        <p>
            WSO2 AD 4.5.1 also records the time of the day you logged in (year, month, week, hour or minute) for the
            purpose of processing the streaming data it handles when it needs to be analyzed based on time.
        </p>

        <h4>Tracking Technologies</h4>
        <p>
            WSO2 AD 4.5.1 collects your information by:
        </p>
        <ul>
            <li>Tracking your IP address with HTTP request, HTTP headers, and TCP/IP.</li>
            <li>Tracking your login history with browser cookies. Please see our cookie policy for more information.
            </li>
        </ul>

        <h3>Use of personal information</h3>
        <p>
            WSO2 AD 4.5.1 uses the following personal information only to protect your account from unauthorized
            access or potential hacking attempts.:
        </p>
        <ul>
            <li>IP address</li>
            <li>Browser fingerprinting</li>
            <li>Cookies</li>
        </ul>

        <h3>Disclosure of personal information</h3>
        <p>
            Please note that the organisation, entity or individual running WSO2 AD 4.5.1 may be compelled to disclose
            your personal information with or without your consent when it is required by law following due and lawful
            process.
        </p>

        <h4>How to request the removal of personal information?</h4>
        <p>
            If you, as a user of WSO2 AD 4.5.1 submit personal information relating to yourself or another party to
            WSO2 AD 4.5.1, you can use the data removal/obfuscation features supported by the product to hide/remove
            that information.
        </p>
        <p>
            If your personal information is submitted to WSO2 AD 4.5.1 by your organization or another third party,
            request that party to hide/delete that information.
        </p>

        <h2>More information</h2>
        <p>
            Upgraded versions of WSO2 AD 4.5.1 may contain changes to this policy and revisions to this policy will be
            packaged within such upgrades. Such changes would only apply to users who choose to use upgraded versions.
        </p>

        <h3>Your choices</h3>
        <p>
            If your data is already published to WSO2 AD 4.5.1 ; you have the right to deactivate your account if you
            find that this privacy policy is unacceptable to you.
        </p>
        <p>
            If you do not have an account and you do not agree with our privacy policy, you can chose not to create one.
        </p>

        <h3>Contact us</h3>
        <p>
            Please contact WSO2 if you have any question or concerns regarding this privacy policy.
        </p>
        <p>
            <a href="https://wso2.com/contact/">https://wso2.com/contact/</a>
        </p>

        <h2>Disclaimer</h2>
        <p>
            WSO2, its employees, partners, and affiliates do not have access to and do not require, store, process or
            control any of the data, including personal data contained in WSO2 AD 4.5.1. All data, including personal
            data is controlled and processed by the entity or individual running WSO2 AD 4.5.1. WSO2, its employees
            partners and affiliates are not a data processor or a data controller within the meaning of any data privacy
            regulations. WSO2 does not provide any warranties or undertake any responsibility or liability in connection
            with the lawfulness or the manner and purposes for which WSO2 AD 4.5.1 is used by such entities or persons.
        </p>
        <p>
            This privacy policy is for the informational purposes of the entity or persons running WOS2 AD 4.5.1 and
            sets out the processes and functionality contained within WSO2 AD 4.5.1 regarding personal data protection.
            It is the responsibility of entities and persons running WSO2 AD 4.5.1 to create and administer its own
            rules and processes governing users’ personal data, and such rules and processes may change the use, storage
            and disclosure policies contained herein. Therefore users should consult the entity or persons running WSO2
            AD 4.5.1 for its own privacy policy for details governing users’ personal data.
        </p>
    </section>
</div>
<a href="{{@contextPath}}/" class="back"><i class="fw fw-left-arrow"></i> Back</a>
</body>
</html>
